/* ------------------------------GŁÓWNE------------------------------ */

body{
    background-image: url(images/GOT_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;

    background-color: black;
    color:white;

    font-family: "Roboto Mono", monospace;
}

/* ------------------------------PODZIAŁ STRONY------------------------------ */


/* środkowy segment */
#main{
    overflow-y: auto;
    margin: auto;

    width: 60%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 1.5vw 3vw rgba(0, 0, 0, 0.8);
}

#topBar{
    display: flex;
    overflow-y: visible;
    margin: auto;
    margin-top: 2.5%;

    width: 90%;
    max-height: 10vh;

    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0.75vw 0.75vw rgba(0, 0, 0, 0.7);
    align-content: center;
    
}

#centerArea{
    display: block;
    margin: auto;
    margin-top: 5%;

    width: 90%;

    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0.75vw 0.75vw rgba(0, 0, 0, 0.7);
    align-content: center;
    
}

#profileLeft{
    float: left;

    width: 30%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#profileLeft img{
    width: 100%;
    border-radius: 50%;
}

#profileLeft h1{
    font-style: oblique;
}

#profileRight{
    float: left;

    width: 70%;
    padding-left: 10%;
    padding-top: 5%;
    text-align: justify;
}

footer{
    position: absolute; 
    top: 97.5vh;
    left: 0; 
    right: 0; 
    margin: auto; 
    width: fit-content;
    text-decoration: underline;
    color: rgba(255,255,255,170);
}

#settingsArea{
    visibility: hidden;
    position: absolute; 
    top: 3.5vw;
    left: 3.5vw; 

    text-align: left;

    max-height: 100%;
    max-width: 8.5%;

    box-shadow: 0px 0px 1.5vw 3vw rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

/* ------------------------------ELEMENTY STRONY - HOME/TOP BAR------------------------------ */

.topBarButton{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 15%;
    aspect-ratio: 1/1;
    
    background-color: rgba(200, 200, 200, 0.1);
    padding: 3%;

    text-align: center;
    color:white;

    justify-content: center;
    align-content: center;

    transition: all 0.25s;
    border-radius: 5%;

    font-style: normal;
    text-decoration: none;
    overflow: hidden;
}

/* efekt po najechaniu */
.topBarButton:hover{
    background: rgba(200, 200, 200, 0.1);
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 00%, rgba(200, 200, 200, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%);

    color:rgb(5, 13, 36);
}

/* "przyciski" na górnym pasku */
.topBarButton img{
    margin-top: -1vh;
    width: 40%;
}

/* ------------------------------ELEMENTY STRONY - PHOTOS------------------------------ */

#photoTop{
    display: block;
    width: 50%;

    text-align: center;
    align-content: center;
    margin: auto;
}

#photoTop > h1{
    text-align: center;
    font-size: xx-large;

    margin: auto;
    border-radius: 1vw;
}

#photoTop > h1:hover{
    background: rgba(200, 200, 200, 0.1);
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 00%, rgba(200, 200, 200, 0.1) 85%, rgba(0, 0, 0, 0.1) 100%);

    color:rgb(5, 13, 36);
    text-decoration: underline;
    transition: all 0.25s;
}

#photoFrame{
    display: block;
    width: 100%;
    
    border: solid white 3px;
    border-radius: 2px;

    text-align: center;
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
}

#miniGallery{
    margin-top: 10%;
    display: block;
    width: 100%;
    height: 30vh;
    
    border: solid white 6px;
    border-radius: 3px;
    overflow-y: auto;

    text-align: center;
    margin-bottom: 10%;
}

#miniGallery img{
    max-height: 10vh;
    width: auto;

    margin: 1%;
}

/* ------------------------------INNE------------------------------ */

.miniText{
    font-size: xx-small;
    color: rgba(0,0,0,0.5)
}

